/* lifestlye.css */
.blog-container {
  margin-top: 50px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  width: 100%;
  max-width: 1200px;
  
}

.blog-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: calc(33.33% - 10px);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;
  max-height: 800px;
  
}

.blog-post:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.blog-post-image {
  height: 450px;
  overflow: hidden;
}

.blog-post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post-content {
  margin-top: 10px;
  padding: 10px;
}

.blog-post-content h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.blog-post-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.blog-post-content a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.blog-post-content a:hover {
  color: #777;
}



