body {
  background-color: #FAF9F6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo-container img {
  width: 900px;
  height: auto;
}
